html{
	height:100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   margin:10px;
   display:inline;
   height:100%;
}

#left{
	display:inline;
	padding:10px;
	height:100%;
	float:left;
}

#left .head{
	font-size:200%;
	margin-bottom:5px;
}

#left .body{
	font-size:120%;
	/*color:#999966;*/
	color:#404040;
	margin-bottom:5px;
	margin-left:30px;
	text-align:left;
	margin-bottom:15px;
	height:65%;
	
}

#left .body ul{
	position:absolute; 
	top:50%; 
	height:10em; 
	margin-top:-5em; 
	list-style:none;
}

#left .setselectoractive{	
	line-height:150%;
	border-left:solid 4px red;
	padding-left:4px;
}

#left .setselector{	
	line-height:150%;
	border-left:solid 4px #FFFFFF;
	padding-left:4px;
}

#left .setselector:hover{	
	border-left:solid 4px red;
}

#left .setselectoractive:hover{	
	border-left:solid 4px red;
}
#left .contact{
	font-size:75%;
	color:#999966;
	margin-bottom:15px;
} 

#left .contact .icon{
	clear:all;
	display:inline;

}

#left .contact .icon a:link{
	border-style:none;
}

#left .footer{
	color:#999966;
	font-size:75%;
}


#right{
	margin-top:20px;
	margin-left:20px;
	display:inline;
	width:70%;
	height:100%;
	float:left;
	overflow:hidden;
}

#right img{
    margin:1px;
	display:inline;
	/*border: solid 1px #999966;*/
}

.slider {
  margin: 10px 0;
  /*width: 600px; 
  height: 600px; */
  width:90%;
  height:90%;
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.transparent {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}