html{
	height:100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   margin:10px;
   display:inline;
   height:100%;
}

#left{
	display:inline;
	padding:10px;
	height:100%;
	float:left;
}

#left .top{
	font-size:200%;
	margin-bottom:5px;
}

#left .mid{
	font-size:120%;
	/*color:#999966;*/
	color:#404040;
	margin-bottom:5px;
	text-align:left;
	margin-bottom:15px;
	height:65%;
	
}

#left .mid ul{
	position:absolute; 
	top:50%; 
	height:10em; 
	margin-top:-5em; 
	list-style:none;
        margin-left: 0px;
        padding-left: 0px;
        color: #808080;
}

#left .setselectoractive{	
	line-height:150%;
	border-left:solid 4px red;
	padding-left:4px;
}

#left .setselector{	
	line-height:150%;
	border-left:solid 4px white;
	padding-left:4px;
}

#left .setselector:hover{	
	color:black;
        cursor: default;
}

#left .contact{
	font-size:75%;
	margin-bottom:15px;
} 

#left .contact .icon{
	clear:all;
	display:inline;

}

#left .contact .icon a:link{
	border-style:none;
}

#left .footer{
	
	font-size:75%;
}

#right{
	margin-top:20px;
	margin-left:20px;
	display:inline;
	width:70%;
	height:100%;
	float:left;
	overflow:hidden;
}

#right img{
    margin:1px;
    display:inline;

}

.slider {
  margin: 10px 0;
  width:90%;
  height:90%;
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

